body {
    background-color: #ddd;
    height: 100%;
    margin: 0;
    width: 100%;
}

#wrapper {
    background-color: #FB0;
    border-radius: 5px;
    margin: 25px auto;
    min-height: 350px;
    min-width: 1000px;
    padding: 10px;
    position: relative;
    text-align: center;
    width: 85%;
}
#question {
    margin-bottom: 75px;
}
h1 {
    font: 45px Serif, Verdana, Arial;
    margin: 0;
}
    h1.asked {
        font-size: 130px;
    }

#timeline {
    text-align: left;
    position: relative;
    margin-bottom: 35px;
}

.axis {
    background-color: #cdcdcd;
    display: inline-block;
    float: left;
    height: 20px;
    position: relative;
    width: 98%;
}

.bumper {
    width: 1%;
}
.bumper.left {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.bumper.right {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

span.scale {
    font: 10px monospace;
    font-size: 100%;
    line-height: 1.5;
    position: absolute;
    top: 100%;
    z-index: 1;
}
span.scale.num {
    font-size: 75%;
    top: 30%;
}
.scale.labels {
    display: inline-block;
}

.pointer {
    height: 20px;
    position: absolute;
    top: 0;
    width: 20px;
}
.pointer .runner {
    background-color: #eaeaea;
    border-radius: 10px;
    left: -50%;
    z-index: 1;
}

.circle {
    border-radius: 50%;
    display: inline-block;
    font: 30px Serif, Verdana, Arial;
    height: 90px;
    padding-top: 60px;
    position: relative;
    width: 150px;
}
    .circle.generic {
        border: 1px solid;
        cursor: pointer;
        margin-left: 5%;
    }

.circle.generic:first-child {
    margin-left: 0%;
}

.red {
    color: red;
}
.white {
    color: white;
}
.yellow {
    color: yellow;
}
.green {
    color: green;
}
.black {
    color: black;
}

#results {
    display: none;
}

#results table {
    border: 0;
    margin: 50px auto;
    text-align: left;
}
.thead {
    text-align: center;
    font: 16px Verdana, Arial;
    font-weight: bold;
}